@import url(https://fonts.googleapis.com/css?family=Jersey+25);
.title{
 font-family:'Jersey 25';padding:6px; text-align:center; color:rgb(50, 50, 50); font-size:50px; border-top:8px solid rgb(0, 0, 255); border-radius:20px; border-bottom:8px solid rgb(0, 0, 255); border-left:8px solid rgb(255, 0, 0); border-right:8px solid rgb(255, 0, 0);
}
h1{
text-align:center; padding:8px;
}
